/* GENERAL */
html,body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

*{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

/* GRID */
.poke-wrapper{

  padding: 50px;
}

.bg-blue{
  background: rgb(81, 69, 150);
}

.bg-cyan{
  background: #2b51bb;
}

.dot{
  font-size: 20px;
  color: rgb(175, 73, 73);
}

.poke-height-weight{
  position: relative;
}

.weight,
.height{
  position: relative;
  top: -10%;
}

.weight p,
.height p{
  width: 20%;
  background: rgb(105, 116, 146);
  border-radius: 50%;
  padding: 20px;
  color: #efefef;
}

.weight p{
  position: absolute;
  top: -30px;
  left: 85%;
  z-index: 100;
}

.height p{
  position: absolute;
  top: -30px;
  left: -5%;
  z-index: 100;
}

.poke-info{
  background: rgba(255,255,255,0.3);
  border-radius: 25px;
}

.poke-id{
  position: absolute;
  z-index: 0;
  top: -10%;
  left: 50%;
  font-size: 90px;
  color: rgba(255,255,255,0.2)
}

.poke-maininfo-wrapper{
  position: relative;
}

.list-group-item {
  background-color: transparent!important;
  color: #fff!important;
  }

  #loader
{
    display: none;
    position: absolute;
    width: 200px;
    height: 200px;
    background: transparent;
    top: 40%;
    left: 40%;
    text-align:center;
    z-index:2;
}

#pagination-wrapper{
  padding: 20px 50px;
  width: 90%;
  margin: 0 auto;
}

#pagination-wrapper nav ul{
  text-align: center!important;
}

/* Back to top of page button */

#scroll-up {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
  opacity: 1;
  z-index: 99999;
  color: #607D8B;
  cursor: pointer;
  line-height: 45px;
  text-align: center;
  border-radius: 5px;
  background-color: #222d32;

}

#scroll-up i{
  font-size: 25px;
  color: darkseagreen;
}

/* Heart icon */
.fa-heart{
  color: rgb(13, 13, 53)
}

.fa-heart:hover{
  transform: scale(1.2,1,2);
  color: #fff;
  cursor: pointer;
}

.wishlist{
  margin-top: 30px;
  z-index: 9999;
}

/* change wishlisted heart icon color */

.wishlistcolored{
  color: rgb(114, 26, 26);
}

/* MENU */

.navbar{
  text-align: center;
  width: 100%;
}

.menu{
  position: relative;
  display: flex;
  width: 90%;
  margin: 0 auto;
}

.menu div a{
  text-decoration: none;
  padding: 20px;
  text-align: center;
}

.menu div{
  text-align: center;
  margin-right: 20px;
  transition: 0.4s all ease-in;
  -webkit-transition: 0.4s all ease-in;
  -o-transition: 0.4s all ease-in;
  -ms-transition: 0.4s all ease-in;
}

.menu div:hover{
  background:rgb(13, 13, 53);
  transform: scale(1.2,1.2);
}

.menu div:hover a{
  color: #fff;
}

/* Mobile */
@media screen and (max-width: 700px)
{
  #pagination-wrapper{
    width: 50%;
    margin-left: -30px;
    transform: scale(0.7,0.7);
  }

  .poke-id{
    font-size: 60px;
    left: 40%;
  }
}